[2013-06-25 23:12] davharris opened #1 "A way to get older observations?"
Currently, the documentation for `ebirdloc` says that it can only go back 30 days.  It would be useful to be able to go back farther (e.g. to take a 30-day chunk from last summer).

Thanks for making such a cool package!

[2013-06-27 19:03] #1 closed, assigned to karthik

[2013-11-14 07:43] sckott opened #2 "Change license?"
Currently BSD https://github.com/ropensci/rebird/blob/master/DESCRIPTION#L6

I think it's deprecated for CRAN packages now at least

[2013-11-30 00:27] sckott opened #7 "Push v0.2 to CRAN soon?"
Seems like we've had many changes in this package lately. Should we push a new version `v0.2` to CRAN soon?

I made a milestone for this `v0.2` we can assign issues to.

[2013-11-30 02:10] sckott opened #8 "Add ebird as a resource"
using `rebird`

[2013-11-30 03:29] ateucher opened #9 "Location precedence in ebirdnotable"
Sort out what to do when > 1 location type provided. I suggest most specific takes precedence (lat/lng > hotspot > region). I've started on this.

[2013-11-30 04:54] #8 closed, assigned to sckott

[2013-12-09 23:03] ateucher opened #11 "Use httr::GET instead of RCurl::getForm"
If the ebird API receives invalid input parameters it returns a 400 error and then sends a JSON object with an informative error message (https://confluence.cornell.edu/display/CLOISAPI/eBird-1.1-ErrorHandling).

`RCurl::getForm` errors on the 400 and exits, but `httr` can handle the redirect to the JSON object; could then parse the error message out and pass it to the user.

[2013-12-10 17:36] #9 closed, assigned to nobody

[2014-02-20 16:00] sckott opened #12 "Bug from CRAN core"

[2014-02-20 16:16] sckott opened #13 "Add Andy Teucher as an author"
@ateucher made a bunch of contributions, lets add him as an author,

[2014-02-20 16:25] sckott opened #14 "Add test suite"

[2014-02-20 16:25] sckott opened #15 "Add vignette"

[2014-02-20 16:25] #13 closed, assigned to nobody

[2014-02-20 16:29] #2 closed, assigned to nobody

[2014-02-21 00:38] ateucher opened #17 "put lat/lng from ip in a function"
I've started on this here: https://github.com/ateucher/rebird/blob/latlng_func/R/getlatlng.R

[2014-02-21 03:21] #17 closed, assigned to nobody

[2014-03-05 23:13] #12 closed, assigned to nobody

[2014-05-08 22:53] sckott opened #20 "Add vignette"
@rmaia I'm adding this posthumously (spelling?) - in that I already added the vignette in a recent push today

I just basically took examples from each functions examples section. Hope that's okay. I played around a bit with the knitr `docco` style. Check it out when you install, then load the package.  Do change if you want.

Also updated readme with a few examples. Hope that's okay.

[2014-05-16 06:28] #20 closed, assigned to nobody

[2014-05-18 16:10] sckott opened #21 "Have tets run on travis once tests done"

[2014-05-20 22:28] sckott opened #22 "Curl options"
Most or all fxns have a `...` parameter to pass on curl options, but internally there is no way to catch and pass on these options.

[2014-05-20 23:03] #21 closed, assigned to nobody

[2014-05-21 01:42] #11 closed, assigned to rmaia

[2014-05-21 01:42] #22 closed, assigned to sckott

[2014-05-30 03:47] sckott opened #23 "spocc integration: Pass warning/message on http error if not done already"
Looks like already using `warn_for_status()` in `ebirdgeo()`, but make sure this works smoothly in `spocc` to allow searches to proceed even if some sources fail

related to ropensci/spocc#53

[2014-05-31 14:54] #23 closed, assigned to nobody

[2014-10-31 14:18] sckott opened #24 "Replace RJSONIO with jsonlite"

[2014-10-31 15:28] sckott opened #25 "Helper fxn for GET requests across all fxns"

[2014-10-31 15:28] #24 closed, assigned to nobody

[2014-10-31 15:28] #25 closed, assigned to nobody

[2014-10-31 15:47] #14 closed, assigned to nobody

[2014-10-31 15:48] #15 closed, assigned to nobody

[2015-05-14 04:04] ateucher opened #28 "Add `skip_on_cran()` to tests"
As per rOpenSci's [packaging guidelines](https://github.com/ropensci/packaging_guide#testing), we should use `testthat::skip_on_cran()` in tests that use the API

[2015-05-14 14:52] sckott commented on #7
@rmaia can we push a new version to cran soon?  `0.2` seems appropriate

[2015-05-14 15:32] sckott commented on #28
sound good, okay @rmaia  ?

[2015-05-22 14:36] #28 closed

[2015-05-28 05:17] sebpardo commented on #7
@sckott would it be a good idea to email @rmaia?

[2015-05-28 06:05] rmaia commented on #7
sorry for the delay. I'll try to get it done by the end of the week.

[2015-05-28 14:49] sckott commented on #7
@rmaia Thanks!

[2015-06-26 22:17] sckott commented on #7
@rmaia do you'll think you'll get a chance to submit to CRAN soon?

[2015-06-27 23:07] sebpardo commented on #7
@rmaia if you want to pass on being the maintainer I would gladly take on the responsibility, unless @ateucher or @sckott want to do it themselves.

[2015-06-30 13:05] rmaia commented on #7
sorry - been moving and my life is pretty upside down. @sebpardo, perhaps that's a good idea. you guys have been more on top of things and I probably wouldn't even know how to correct any issues that arise during submission to CRAN. Whomever you guys decide is best for the job, I'm fine with it!

[2015-06-30 16:36] sckott commented on #7
Thanks @rmaia ! You'll of course still be an author

@sebpardo Please do takeover, if that's okay @ateucher ?  When you submit to CRAN you'll need written permission from @rmaia that you are taking over. relevant line from CRAN policies

[2015-06-30 22:38] sebpardo commented on #7
@rmaia is there any submission comments from the last CRAN push that we should be aware of?

[2015-06-30 22:40] rmaia commented on #7
nope!

let me know how or where I should include the written agreement.

[2015-07-01 00:13] rmaia commented on #7
the winbuilder notice still came to my email:

this notification has been generated automatically.
Your package rebird_0.1.6.9000.tar.gz has been built (if working) and checked for Windows.
Please check the log files and (if working) the binary package at:
http://win-builder.r-project.org/L5He3jh2Il7M
The files will be removed after roughly 72 hours.
Installation time in seconds: 4
Check time in s

[2015-07-01 00:18] sebpardo commented on #7
@rmaia yep, sorry about that. Was running `devtools::build_win()` before changing the maintainer in the DESCRIPTION. Now it's fixed in my fork so you won't get those anymore.

[2015-07-01 00:22] rmaia commented on #7
just in case you need the info, I got another one :)

this notification has been generated automatically.
Your package rebird_0.1.6.9000.tar.gz has been built (if working) and checked for Windows.
Please check the log files and (if working) the binary package at:
http://win-builder.r-project.org/d5Ky65Bv4ZCu
The files will be removed after roughly 72 hours.
Installation time in seconds: 4
Check ti

[2015-07-01 00:47] sebpardo commented on #7
Hahaha sorry again, the second one is done on the stable version of R instead of the Development one, hence the two emails. Wasn't counting on that!

[2015-07-02 21:33] sebpardo commented on #7
Hey @sckott I have everything pretty much ready to go but I'll wait for @ateucher to reply before I go ahead.

[2015-07-02 21:40] sckott commented on #7
@sebpardo I'll see if I can get him on twitter DM

[2015-07-02 22:23] sckott commented on #7
@sebpardo  let's go ahead with the submission

[2015-07-02 22:27] sebpardo commented on #7
Ok, should version be 0.2, 0.2.0, or 0.2.0.0?

[2015-07-02 22:37] sckott commented on #7
@sebpardo if you could, please:

* note that next version should be `v0.2` and linked to changes under milestone  https://github.com/ropensci/rebird/milestones/v0.2 - remember to close that milestone when submission done and on CRAN
* git tag the final commit that goes to CRAN
* and put relevant NEWS items in a release with that tag at https://github.com/ropensci/rebird/releases

[2015-07-02 23:19] sebpardo commented on #7
@sckott this is probably a silly question, but what should I write in the "Optional comments" field when submitting? What's on cran-comments, NEWS, or both?

[2015-07-02 23:27] sckott commented on #7
Are you using `devtools::release()` ?

[2015-07-02 23:28] sckott commented on #7
See eg of `cran-comments.md` https://github.com/hadley/httr/blob/master/cran-comments.md

Eg. of `NEWS` https://github.com/hadley/httr/blob/master/NEWS.md

[2015-07-02 23:35] sebpardo commented on #7
Sorry, that question didn't read very well. I've created `cran-comments.md` and `NEWS.md` according to Hadley's suggestions, however I'm not sure if I should paste the contents of either (or both) on  "Optional comments" field when submitting to CRAN.

I am not using `devtools::release()` as I get an error; the updated release is in the process of being submitted to CRAN (see https://github.com/ha

[2015-07-02 23:40] sckott commented on #7
Okay. I haven't used that submission form in a long time, but I think you want cran-comments stuff  in the "Optional comments" box. NEWS items are included in the package `tar.gz` that you upload

[2015-07-02 23:41] sebpardo commented on #7
Perfect! I am going to submit now and link to this thread with regards to the maintainer change and written consent.

[2015-07-02 23:46] sebpardo commented on #7
Submitted.

[2015-07-03 18:37] ateucher commented on #7
Nice work all!

[2015-07-07 19:07] sckott commented on #7
@sebpardo Hows it going with the submission to cran?  I assume it got bounced back.  need any help?

[2015-07-07 20:56] sebpardo commented on #7
@sckott I hadn't received any emails from CRAN yet so I double checked, and it happens I hadn't confirmed my submission...

It's uploaded to CRAN now :)

[2015-07-07 20:56] sckott commented on #7
Oh good!

[2015-07-08 18:43] sebpardo commented on #7
I got a reply from Uwe:

@rmaia, could you please email CRAN <cran@r-project.org> and let them know directly?

This last NOTE only popped up on the devel version of R when running `devtools::build_win()`. Functions `is`, `read.delim`, and `reshape` are included in the utils and `stats packages in base R. Is it perhaps something that is changing in future versions? To import selectively do we use `

[2015-07-08 18:59] ateucher commented on #7
I saw something recently that only `base` functions are available without importing - so I think your solution to use `importFrom` from those packages is probably a good way to go. (Or would using `stats::reshape` etc suffice?)

[2015-07-08 19:20] ateucher commented on #7
That looks like it's how @sckott did it in `spocc`: https://github.com/ropensci/spoccutils/commit/178fc26394e208358b68989e733e6852e2e8bb03

[2015-07-08 19:27] sckott commented on #7
Yes, you now need to import all functions that are not in the base R pkg, so anything from utils, stats, methods, etc. packages that are come with R, and are loaded by default, but now they want you to specify which functions in those packages you are using in your package.

I usually do this in the package level man file like https://github.com/ropensci/spoccutils/blob/master/R/spoccutils-package

[2015-07-08 19:27] sckott commented on #7
You can reply to him saying you'll fix that stuff, but you need to do a new submission, with same version number

[2015-07-08 21:42] sebpardo commented on #7
Thanks @ateucher and @sckott! Scott, can I get away with just specifying the functions using `@importFrom` in the package level man file and not in the DESCRIPTION file?

[2015-07-08 22:39] sebpardo commented on #7
Re-submitted to CRAN. @rmaia has notified them of the change, I've PR the latest changes and updated the release. Should be good!

[2015-07-08 22:50] sckott commented on #7
@sebpardo looks like you got it already, but to answer your question: yes, you need to have methods, utils, stats, etc. pkgs listed in DESCRIPTION file as well

[2015-07-09 15:31] sebpardo commented on #7
rebird v0.2 is on CRAN.

[2015-07-09 15:31] #7 closed

[2015-07-09 15:31] sckott commented on #7
:+1:

[2015-07-20 16:53] sckott opened #34 "Change tag from v2 to v0.2"
can you make the change @sebpardo ?

[2015-07-24 06:36] sebpardo commented on #34
Fixed.

[2015-07-24 06:36] #34 closed

[2015-08-27 21:48] sebpardo opened #35 "Version, two or three digits to CRAN?"
Currently rebird releases only two digits to CRAN, and uses the third one for the development versions. I've seen that most other packages (and what Hadley recommends in his book) is to release three digits to CRAN and use the fourth one for devel.

@sckott does ROpenSci have a standard for this?

[2015-08-27 21:57] sckott commented on #35
we do use 4 places, and iterate through the 4th while iterating through changes on github, but the 3rd place, or the patch version, can be iterated too on github if change is big enough.

The goal is to shoot for releasing minor versions to CRAN (.e.g, `v0.1.0`, `v0.2.0`), but sometimes you need to push up some critical changes, and they don't deserve a full minor version bump, so sometimes we pus

[2015-08-27 22:10] sebpardo commented on #35
Soour next release should be `v0.3.0` instead of `v0.3`?

[2015-08-27 22:15] sckott commented on #35
yep

[2015-08-27 22:38] sebpardo commented on #35
Sweet, thank you for the clarification.

[2015-08-27 22:38] #35 closed

[2015-09-05 03:19] sebpardo opened #36 "Allow ebirdfreq to merge data from multiple hotspots"
If providing a list of hotspot codes, then calculate a combined frequency of observations for all species seen in those hotspots based on sample size and frequency in each separate hotspot.

[2015-09-17 18:02] CordnyNederkoorn opened #37 "Is it possible to map the locations of the bird observations?"
Hi,

Is it possible to map (google maps, OpenStreetMap) multiple locations of the bird observations via R rebird or other R package?
For instance the locations (Long. and lat.) of a specific bird in the USA found with ebirdregion function:

Example:
ebirdregion(region = 'US', species = 'Passer domesticus')

Best,
Cordny
the Netherlands

[2015-09-17 18:26] sckott commented on #37
hi @CordnyNederkoorn are you looking for interactive maps, static maps (using base R graphics, or ggplot2)?  This package focuses on getting eBird data, but we can help you visualize

[2015-09-17 18:30] CordnyNederkoorn commented on #37
The data and Visualization I'm looking for, can you give me some pointers? Thanks!

[2015-09-17 19:03] sckott commented on #37
* One option is to search ebird data via `spocc` package https://cran.rstudio.com/web/packages/spocc/ - & https://cran.rstudio.com/web/packages/spoccutils/ has a bunch of functions to help you visualize that data
* If you want to make vizualizations yourself, here's an example making an interactive leaflet map:

[code]

<img width="732" alt="screen shot 2015-09-17 at 12 03 05 pm" src="https://clou

[2015-09-17 19:16] CordnyNederkoorn commented on #37
Thanks, I've tried leaflet already, but only got one marker with data from 1 sighting of Passer domesticus from the ebirdregion-function hardcoded in leaflet:

library(leaflet)
m <- leaflet()
m <- addTiles(m)
m <- addMarkers(m, lng= 3.751218  ,lat=51.98096, popup="Passer domesticus NL")

I'm a newbie to R, so pardon for the code :) , but I'm learning!
leaflet(data = res) would solve the hardcoding

[2015-09-17 19:19] sckott commented on #37
Note that it works just fine specifying data in the addmarkers call too e.g., `addCircleMarkers(data = res)`

[2015-09-17 19:23] CordnyNederkoorn commented on #37
yes it does, thanks !

[2016-02-07 20:00] #37 closed

[2016-02-07 20:02] sckott opened #38 "httr::content fixes for new httr version"

[2016-02-07 20:11] #38 closed

[2016-02-13 18:05] sebpardo commented on #38
Thanks for sorting this out @sckott!

[2016-02-13 18:11] sckott commented on #38
sure thing

[2016-03-23 05:20] sebpardo commented on #15
Changed Milestone as vignette was added prior to v0.2 release.

[2016-04-22 01:53] sckott opened #43 "use dplyr::bind_rows instead of dplyr::rbind_all"

[2016-05-02 18:44] sckott commented on #43
just so it's easy to find, think there's only one instance in the pkg https://github.com/ropensci/rebird/blob/master/R/zzz.R#L29

[2016-05-03 22:51] sebpardo commented on #43
Thanks Scott. Will fix before the end of the day.

[2016-05-04 17:36] #43 closed

[2016-07-11 21:39] sebpardo opened #49 "Latest build failing on AppVeyor"
The last 3 or 4 versions of rebird have all failed on AppVeyor (https://ci.appveyor.com/project/sckott/rebird/build/1.0.480#L371). When checking on `devtools::win_build`, rebird builds successfully.

Why would it fail while "checking whether package 'rebird' can be installed"?

[2016-07-11 21:49] sckott commented on #49
probably related to https://ci.appveyor.com/project/sckott/rebird/build/1.0.480#L35 - trying something will report back in a bit

[2016-07-11 21:54] ateucher commented on #49
Also could be related to https://github.com/krlmlr/r-appveyor/issues/70?

[2016-07-12 17:19] sebpardo commented on #49
Thank you for the heads up @sckott and @ateucher! Looks like it has nothing to do with rebird, so I'll wait for a fix.

[2016-08-08 16:05] sebpardo commented on #49
Build is passing now due to changes on appveyor.

[2016-08-08 16:05] #49 closed

[2017-02-27 22:02] sckott opened #50 "replace httr with crul"

[2017-03-08 19:05] madelynore opened #51 "rbind_all() deprecated, replace with bind_rows()"
Hi,

The ebirdregion() function isn't work. This is the error message:

[code]

[2017-03-08 19:12] sckott commented on #51
thanks @madelynore that is a warning though not an error - did the function not work or did it work but give that warning?

[2017-03-08 19:25] madelynore commented on #51
Oop, just a warning. But another question, how far back can ebirdregion() go?

[2017-03-08 19:32] sckott commented on #51
(i should say that warning is fixed in the development version here - so will go away in next version to CRAN)

i think it might only go back 6 months, but not sure @rmaia @sebpardo ?

[2017-03-09 00:44] sebpardo commented on #51
Hi @madelynore, the `back` argument in the `ebirdregion` function specifies the number of days back to look for observations, and has a maximum value of 30 (which is the limit set by eBird in their API).

[2017-03-09 15:49] sckott opened #52 "All ebirdfreq requests failing"
giving 404 response, not found

looks like the url that the fxn gets data from http://ebird.org/ebird/BarChart is down

@ateucher @sebpardo

[2017-03-09 18:14] sebpardo commented on #51
Hi @madelynore, the `back` argument in the `ebirdregion` function specifies the number of days back to look for observations, and has a maximum value of 30 (which is the limit set by eBird in their API).

[2017-03-09 18:29] madelynore commented on #51
Thank you!

[2017-03-09 18:29] #51 closed

[2017-03-09 23:29] sebpardo commented on #52
On it, looks like the url changed from http://ebird.org/ebird/BarChart to http://ebird.org/ebird/barchartData . Will fix ASAP.

[2017-03-10 05:11] #52 closed

[2017-04-04 20:08] sebpardo commented on #50
Hi @sckott ,

I was hoping to submit and updated version to CRAN, given that in the current version there `ebirdfreq` fails. I was playing around trying to wrap my head around crul, but I don't think I understand its inner workings well enough to replace httr yet. How critical is relaceing httr with crul for the next CRAN update?

[2017-04-04 20:16] sckott commented on #50
not critical - in fact you can stick with `httr` - totally up to you

[2017-04-06 19:32] cmartin opened #54 "As of 2017-04-06, ebirdfreq returns a 404 error"
For example, this piece of code from the examples is not working anymore :
`ebirdfreq(loctype = 'hotspots', loc = 'L196159')`

From looking at the code, it seems the url is constructed with a capitalized version of the url :
`url <- "http://ebird.org/ebird/BarChart"` which, as of today does not seem to be supported.

For example, compare these :
[http://ebird.org/ebird/barchart?byr=1900&eyr=2017&b

[2017-04-06 19:36] sckott commented on #54
@cmartin i think this was fixed in #52 - but i'll let @sebpardo speak to this

[2017-04-06 19:39] cmartin commented on #54
Ah, year, sorry. #52 seems to contain the fix.

[2017-04-06 19:39] #54 closed

[2017-04-17 05:37] sebpardo commented on #54
Thanks for reminding me of this @cmartin, I'll submit the newest version to CRAN ASAP!

[2017-04-25 13:49] sebpardo commented on #50
I'll stick with `httr` as it is working fine as is, and submit the latest version to CRAN today.

[2017-04-25 13:49] #50 closed

[2017-05-08 18:35] sckott opened #56 "publish release"
@sebpardo looks like the release is in draft state for v0.4, can you publish that?

[2017-05-10 19:57] sebpardo commented on #56
Done.

[2017-05-10 19:57] #56 closed

[2017-11-30 18:31] ateucher opened #58 "New API coming"
I just noticed that there is a new API coming: https://documenter.getpostman.com/view/664302/ebird-api-20/2HTbHW

I don't know the timeline for full implementation, but it looks like the ones documented there are already functional. It looks like it will require an API key for most calls

[2017-11-30 18:32] sckott commented on #58
cool 👍

[2017-12-02 22:37] sebpardo commented on #58
Thanks for the heads up @ateucher. I'm not very familiar with APIs, so I'll definitely need some help implementing the changes, and it seems this change will require a fair bit of work. Aside from the API we basically need to change the urls in the ebird_GET() function as well as in each separate function as the directories have slightly changed. Fortunately it seems that most variable names haven

[2017-12-04 05:20] sebpardo commented on #58
So I spent the day looking through the differences between APIs. Here are what I think are the main differences that matter for updating the functions in `rebird`:

1. The URL path structure has changed, which means we'll have to tinker with the `if` statements in every function.
1. Related with the point above, regions are now specified in the URL path rather than being specified via query argume

[2018-02-18 04:52] choisy opened #59 "Retrieving observations more than 30 days back"
Why do the functions make it impossible to retrieve observations more than 30 days back?

[2018-02-22 00:32] sebpardo commented on #59
The 30-day limit isn't coded into the `rebird` functions but instead is set by the eBird API server, which I imagine is in place to avoid extremely large database queries from being automated and potentially slowing down/crashing the server.

[2018-02-22 18:43] #59 closed

[2018-02-22 19:00] sckott commented on #59
@choisy there is a pkg in ropensci review for bulk ebird data https://github.com/ropensci/onboarding/issues/136

[2018-06-05 14:05] Alanamosse opened #62 "ebird_GET() : Unknown species: Genus%20species = double url encoding ?"
I couldn't use ebird_GET() without a warning like :
``
In ebird_GET(url, args, ...) : Unknown species: Anas%20platyrhynchos
``

It seems that the space charater ' ' is encoded two times : ' ' ->'%20' ->'%2520'

GET function use an url with 'Anas%2520platyrhynchos' instead of 'Anas%20platyrhynchos'.
See the following example with the verbose enabled :
``

-> GET /ws1.1/data/obs/geo_spp/recent?fmt=j

[2018-06-19 17:33] sebpardo commented on #62
Hi @Alanamosse, sorry for the late reply, I've been away at a conference.

The issue seems to be with a redirect from the eBird API (`<- HTTP/1.1 302 Found`), which is where the second encoding of the URL  provided is happening. It seems this occurs because the base URL that rebird v0.4.0 is using is not secure (http), so it forces the switch to https, and adds an extra step of encoding in the pro

[2018-06-19 17:40] sebpardo commented on #62
You can see the issue if you manually construct the `GET` request:

[code]

[2018-06-29 00:47] sckott opened #63 "API v2?"
@sebpardo looks like they want everyone to move to using the v2 api

https://documenter.getpostman.com/view/664302/ebird-api-20/2HTbHW

do you have time to work on making the switch?

[2018-06-29 00:55] sckott commented on #63
i'm starting to get failures with all ebird queries in the `spocc` package - i think it's time to make the switch

[2018-06-29 18:11] sebpardo commented on #63
Hi @sckott,

Unfortunately I have very little spare time during the next few months (postdoc + upcoming conferences + finishing PhD papers), but I could chip in if it's a collective effort. I've already had a good look at the new API and it requires major rewriting of every function in the package, see https://github.com/ropensci/rebird/issues/58#issuecomment-348863133 for more info.

Regarding fa

[2018-06-29 18:12] sebpardo commented on #63
Pinging @ateucher & @rmaia

[2018-06-29 18:15] rmaia commented on #63
I can chip in a collective effort too

[2018-07-02 21:06] sckott commented on #63
@sebpardo

sure, makes sense

[2018-07-04 13:34] Alanamosse commented on #62
Hi @sebpardo , my turn to apologize for a late reply ..

Indeed your solution worked thks for the explanation  !

[2018-07-05 11:59] #62 closed

[2018-07-09 20:22] sebpardo commented on #63
`rebird` v0.5.0 just released on CRAN. @sckott, this should fix all the problems with `spocc`.

[2018-07-09 21:11] sckott commented on #63
thanks.

[2018-07-25 12:52] maelle opened #65 "Wrapper to part of the eBird API"
Would it be possible to clarify which webservice(s) from the eBird API are wrapped in this package? I think it'd be an useful addition to the docs.

Once the package has been switched to the new API, asking for contributors to add new endpoints wrappers might be a good way to have first-time contributors?

[2018-07-27 06:48] sebpardo commented on #65
That's a good idea! I'll make sure that information is included when we do the switch to the new API in the next few months; I don't think there's any point to do it for the current API given that it will be retired sometime soon so making the switch is priority numero uno.

[2018-07-27 07:34] maelle commented on #65
Muy bien! 😉

[2018-07-27 16:06] sebpardo commented on #65
I forgot to ask, do you know of any packages that already do this so I can have a better idea of what it should look like?

[2018-07-30 15:34] sebpardo commented on #65
Sweet, thank you @maelle !

[2018-08-15 20:12] sebpardo commented on #63
I just found out the API 1.1 will be shut down on October 1st, so we should get going with making the switch.

[2018-08-15 20:59] ateucher commented on #63
@sckott @sebpardo as the new API requires a key (https://ebird.org/api/keygen), should one be included in the package and/or require users to get their own (requires opening an eBird account).

[2018-08-15 23:43] sckott commented on #63
if we include an API key in the pkg, i'd ask ebird folks if that's okay first. I kinda lean towards making users get their own - that is, they can't use the pkg unless they have their own key, but what do others think

[2018-08-15 23:48] ateucher commented on #63
I agree with you. It's not difficult to get one.

[2018-08-16 00:03] ateucher commented on #63
Does rOpenSci have a standard way of dealing with keys? The way I've written now it has to be stored as an env variable, but could also have a `key` argument to every function?

[2018-08-16 00:05] sckott commented on #63
there's no official way we deal with keys. I do like to allow env vars (could allow r options too, but i think we should push users to env vars as they're more universal) in addition to allowing passing in as a parameter. BUT also in docs strongly urging users to use env vars so they don't accidentally expose their key. i guess could only allow env var but i worry that makes the first time user ex

[2018-08-16 00:06] ateucher commented on #63
Agreed. I also like pushing towards env vars.

[2018-08-16 00:33] ateucher commented on #63
Ok, added both options: 7ccd8a775814285102a47e2a01efb28defe3eaac

[2018-08-16 13:05] sebpardo commented on #63
+1 to users to getting their own key and store it in env vars.

I'll write a short walk-through on how to obtain and store the key in the README and vignette.

[2018-09-27 20:09] #65 closed

[2018-09-27 20:51] sebpardo commented on #63
PR #67 closes this issue.

[2018-09-27 20:51] #63 closed

[2018-09-27 20:52] sebpardo commented on #58
The merge of PR #67 closes this issue.

[2018-09-27 20:52] #58 closed

[2018-10-18 12:42] Graskian opened #68 "ebirdregion should return all observations, but fails to return a few, although these may be retrievable by ebirdnotable"
Hello

I love this package. I am wondering how the search is performed though, as there seems to be some inconsistencies..

Consider for instance this checklist from yesterday, Oct 17th: https://ebird.org/view/checklist/S49257480
It contains 72 species. By calling ebirdregion(loc = 'DK') and followingly filtering out that particular location and date, I only get 62 out of 72 observations. 10 are m

[2018-10-28 20:05] sebpardo commented on #68
Hi Mathias, sorry for the late reply, I was away on holidays. Great to hear you figured this out, and also very happy that you enjoy using rebird!

[2018-10-28 20:05] #68 closed

[2018-10-29 10:09] Graskian commented on #68
All good, yes thank you, what a wonderful package!

[2018-11-14 20:09] sckott opened #69 "error behavior"
noticed when fixing `spocc`'s ebird integration that error behavior could be better.

when the API key is not found or not set, there's a nice error message about this. 👍

But if the API key is bad/not known by eBird, the error behavior is pretty bad:

[code]

The problem is the data from eBird is being processed before checking for any errors - here https://github.com/ropensci/rebird/blob/master/

[2018-11-14 20:40] sckott commented on #69
Another issue I found: when you pass ebird a bad value you only get NA back. eBird does it appears give back useful messages about what went wrong at least in some cases, eg.,

[code]

passing

to the user would be really helpful to the user i reckon

[2018-11-15 14:17] sebpardo commented on #69
Hi @sckott , thanks for pointing this out. As you suggest this should be easy to address. Adding `httr::stop_for_status(tt)` within `ebird_GET()` right at [this point](https://github.com/ropensci/rebird/blob/d0b9889d1114e4219506447bb10b25913321e172/R/zzz.R#L36) results in the following:

[code]

Do you think just providing the error message from the GET request is enough?

[2018-11-15 19:48] sckott commented on #69
perhaps. i know what 403 status means, but i imagine most people don't 😸  - you could leave that as is, and just put in the docs what that error message means.  Some APIs return a response body with a message about auth on a 403, but not ebird

[2018-11-15 19:51] sckott commented on #69
The response body

`{"errors":[{"status":"500","code":"http.status.500","title":"Unable to find matching region type for 4444"}]}`

should still be there in the response within the R session, its just that stop_for_status only gives the status code and the message associated with that code following https://en.wikipedia.org/wiki/List_of_HTTP_status_codes - so you could parse that response body you

[2018-11-16 20:51] sebpardo commented on #69
Closed by #70

[2018-11-16 20:51] #69 closed

[2018-11-16 21:07] sebpardo commented on #69
@sckott let me know if you find any bad error messages.

[2020-03-26 02:15] mfoos opened #78 "Would like to contribute a checklist feed function"
Hi folks,

I wrote a function (and tests) to access the checklist feed API endpoint [https://documenter.getpostman.com/view/664302/S1ENwy59?version=latest#4416a7cc-623b-4340-ab01-80c599ede73e](https://documenter.getpostman.com/view/664302/S1ENwy59?version=latest#4416a7cc-623b-4340-ab01-80c599ede73e)

and then realized that the contributor guidelines say to post before making a PR. Also, I am worki

[2020-04-08 20:06] sebpardo commented on #78
Hi @mfoos, apologies for the late reply. That would be great and I definitely encourage you to submit a PR with this new function! Ideally the documentation should be in the function file itself (e.g. https://github.com/ropensci/rebird/blob/master/R/ebirdhotspot.R), but I'd be more than happy to contribute to that. We should also build some tests for the function as part of the PR, but we could do

[2020-04-08 22:01] mfoos commented on #78
Yep, the doc is in the function with roxygen comments, I was actually referring to the PR form where it says:

[2020-04-09 13:37] #78 closed

[2020-05-31 09:18] peetmate opened #81 "ebirdhistorical error for loc = "AR""
Hello,

I am trying to download data for Argentina using the ebirdhistorical function:

`ebirdhistorical(loc="AR",date="2020-05-09",key = EBIRD_KEY)`

This gives the error:
`Error in ebird_GET(url, args, key = key, ...) :   500 -- http.status.500 -- PreparedStatementCallback; SQL  ORA-01013: user requested cancel of current operation; nested exception is java.sql.SQLTimeoutException: ORA-01013: us

[2020-05-31 09:46] peetmate commented on #81
Also get the same error for "PA" every other country is fine

[2020-06-01 19:38] ateucher commented on #81
This is strange, and I can reproduce it outside of R, using `curl` in the terminal:

[code]

However it works for other dates for `AR` (in R as well as on the command line):

[code]

May 9 was the global big day... I wonder if that has anything to do with it?

[2020-06-01 19:52] ateucher commented on #81
@sebpardo I couldn't find a direct way to report api bugs... do you have a contact?

[2020-06-03 16:39] ateucher commented on #81
FYI I've submitted a ticket to eBird support... will let you know what they say

[2020-07-14 21:09] sebpardo commented on #81
Apologies for the very late reply. The person to contact on eBird Central is Tim Lenz, if you haven't already gotten a reply from him I can email him directly.

[2020-07-14 21:12] ateucher commented on #81
Hi @sebpardo I did submit a ticket to https://support.ebird.org/en/support/home about a month ago, haven't heard anything (nor have I tested it again). I did hear that the API team was pretty swamped...

[2020-07-29 15:15] sebpardo commented on #81
Hi @peetmate and @ateucher, would you mind trying this again to see if the error persists? I think this might have been fixed by eBird Central as I can't reproduce the error when using `rebird` or the console when using `curl`.

[2020-08-10 23:03] ateucher commented on #81
It's working for me now too, I think we can close it!

[2020-08-10 23:03] #81 closed

[2020-10-22 21:57] dbradnum opened #82 "ebirdfreq failure - URL directs to login page(?)"
Hi,

I'm consistently getting a failure from the ebirdfreq() function. When I try the examples in the package documentation, I get an error as follows:

[code]
It seems that the call to the URL is returning an HTML document rather than a TSV as expected. I can see that when I try to construct the URL myself - eg https://ebird.org/ebird/barchartData?byr=1900&eyr=2020&bmo=1&emo=12&r=L196159&fmt=tsv

[2020-10-23 16:51] ateucher commented on #82
@dbradnum thanks for the report and I think you've nailed the issue. You previously didn't need to be logged in to get the tsv download, whereas now it appears you do. And you're correct, this function doesn't use the ebird API, rather builds the url to the tsv file (but is then intercepted by the login).

It's probably worth looking at the API again to see if this functionality can be replicated

[2020-10-23 22:53] sebpardo commented on #82
Hi @dbradnum, thank you for this. You are indeed correct that something changed on the eBird Central side where now you need to be logged in to do url-based queries. Unfortunately, it doesn't seem we can pass on the API key via url, and the API doesn't have the functionality to do these queries yet, so we can't create an R function, API- or url-based, for this task anymore.

I think the only reali

[2020-10-25 08:04] dbradnum commented on #82
Thanks Andy, Seb. I suspected that there might not be much we can do here.

The only thing I wondered is whether you have contacts at eBird Central, and might be able to ask that this functionality goes onto the list of desirable features for thr API? Clearly they have the ability to generate the stats, so one would hope it's not too big a deal to wrap with the API. But I'm sure they have a bunch

[2020-11-14 14:22] sebpardo commented on #82
I just had a thought. Perhaps we could keep `ebirdfreq()`by using OAuth, see https://github.com/ropensci/rfigshare/blob/master/R/fs_auth.R for an example. This is contingent on eBird using OAuth in the first place, but I imagine they might given they have multiple sites (eBird, Birdsoftheworld, etc.) with the same login. I'll ask eBird Central about this after they complete their db migration next

[2020-11-27 15:26] VLucet opened #83 "Getting nearby hotspots"
Hi, awesome package. Was wondering if there was a way to get a list of hotspots nearby given coordinates. I cannot find an example in the doc. It would basically wrap a querry to[ this address in the api doc](https://documenter.getpostman.com/view/664302/S1ENwy59?version=latest#674e81c1-6a0c-4836-8a7e-6ea1fe8e6677).

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2020-11-27 15:29] VLucet commented on #83
I just saw that is on the list of requested features... apologies for that. Are you looking for PRs for new features? I could give it a go.

[2020-11-27 16:07] VLucet opened #84 "Rownames error using ebirdfreq"
Simply running the example in the doc throws in a rownames error. Maybe related to recent updates in the `tidyverse` suite of packages?
[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2020-11-30 20:34] plorch commented on #54
This bug seems to have resurfaced.  I am running R version 4.0.3 on Windows10. rebird version 1.1.0.  This command
`ebirdfreq(loctype = "hotspots",loc = "L618902",startyear = 2014,endyear = 2014,long = F)`
returns a tibble with html in it, not a dataframe.

[code]

[2020-12-02 00:42] sebpardo commented on #54
Hi @plorch, this problem is actually different from the one discussed previously in this issue, and stems from eBird now requiring users to be logged in to download frequency data (`ebirdfreq()` is the one function on `rebird` that doesn't use eBird's API, thus we can't authenticate each user with the API token for this request anymore). Unfortunately it looks like we can't sort this out ourselves

[2020-12-02 00:49] sebpardo commented on #83
Hi @VLucet, if you are willing to create a PR to add this functionality that would be most welcome. I'm happy to help with this as well. Note that we have some internal helper functions, such as [`ebird_GET()`](https://github.com/ropensci/rebird/blob/master/R/zzz.R#L31), that make it much more straightforward to do the API requests and create new R functions.

[2020-12-07 18:12] VLucet commented on #84
A few things to note: the error happens when settings row names at the following line, because the output of  `tbl_df()` (which, btw, is deprecated and should be replaced by `as_tibble()` only has 2 columns when we are trying to set the names for a lot more.
[code]
It seems that what is returned by these lines is misformated:
[code]
Is there a reason why we are not getting a JSON here but an html

[2020-12-07 21:50] ateucher commented on #84
This is the same as #82. Closing to keep the conversation in one place

[2020-12-07 21:50] #84 closed

[2020-12-07 21:53] ateucher commented on #82
@sebpardo have you managed to connect with eBird Central? I don't think it's set up for OAuth (the website requires username/password). Without it being added to the API I think we're going to have to make this function defunct.

[2020-12-07 21:55] VLucet commented on #84
Apologies - missed that

[2020-12-07 22:07] VLucet commented on #82
Hi, sorry for the double issue posting, I has missed this conversation.
Is there any way to produce a similar information than that `ebirdfreq()` is meant to deliver, by doing either of the following:
1. Aggregating the "Historic observations on a date", url is `https://api.ebird.org/v2/data/obs/{{regionCode}}/historic/{{y}}/{{m}}/{{d}}` and seems to accept any location code
2. Using "Recent nearb

[2020-12-12 14:13] sebpardo commented on #82
@ateucher I emailed them a few days ago but haven't heard back yet.

[2020-12-17 15:54] sebpardo commented on #82
Hi @ateucher, I heard back from Tim Lenz and he confirmed that the frequency data isn't available from the API yet, however come January they'll revisit this and might add include it to the API.

This still leaves us with what to do in the meantime. Ideally, when function stops working we need to update the CRAN version to address is as soon as possible. However, making a function defunct only to

[2020-12-17 16:05] sckott commented on #82
Perhaps send a new version to cran, keeping the function, but temporarily have it return an error with a message stating what's going on, maybe linking to this issue

[2020-12-17 16:55] ateucher commented on #82
Good to hear @sebpardo, fingers crossed! @sckott I think that's a good idea

[2021-01-21 18:45] dbradnum opened #85 "Get species for location / region"
I recently helped a fellow eBirder answer a question about the total number of species seen at hotspots within a distance of his home. This involved a couple of eBird API functions that aren't yet included in rebird:

1. [Get nearby hotspots](https://documenter.getpostman.com/view/664302/S1ENwy59?version=latest#674e81c1-6a0c-4836-8a7e-6ea1fe8e6677)
2. [Get species list for a region](https://docume

[2021-01-23 20:16] #85 closed

[2021-01-23 20:28] sebpardo commented on #85
I just noticed this issue. Turns out I already wrote a function ready that does both the ref/hotspot and ref/hotspot/geo API requests so I'll just upload it now. Would be neat to see how different (or similar) your approach was to mine.

[2021-01-23 22:28] #83 closed

[2021-01-24 01:01] #82 closed

[2021-01-28 15:38] sebpardo commented on #36
Obtaining frequency data from the website now requires the user to be logged in, so `ebirdfreq()` has stopped working and has been disabled (see #82). Therefore, this feature can't be implemented as part of `ebirdfreq()`. Closing.

[2021-01-28 15:38] #36 closed

[2021-09-27 13:57] sebpardo opened #91 "Travis-ci and Coveralls not updating"
I noticed that travis-ci and coveralls are not being ran with the latest commits/releases; travis-ci last ran on an commit from 8 months ago while coveralls last ran 5 years ago. Obviously this isn't any issue with `rebird` itself, but I wonder if we should update the badges? @sckott ?

[2021-09-27 17:07] sckott commented on #91
Sounds good! Update as you see fit

[2021-09-27 18:04] sebpardo commented on #91
Will do. Any idea why these two aren't updating though?

[2021-09-27 19:55] sckott commented on #91
I don't know, but I'd suggest moving to Github actions anyway. https://devguide.ropensci.org/ci.html?q=actions#github-actions-linux-mac-osx-windows

[2022-10-17 18:40] abfleishman opened #92 "ebirdhistorical returns incomplete data"
I am trying to retrieve all the ebird data for a region on a specific date. I have either stumbled upon a bug or I am confused how the `rebird` package works.

[code]
The 2 species that are returned were indeed part of [checklist `S119974903`](https://ebird.org/checklist/S119974903), however, there are 19 other species that are missing from the data retrieved from `rebird`.

I do not understand ho

[2022-10-19 18:31] dbradnum commented on #92
Hi Abram,

I understand the confusion!

However, what you're seeing is the expected behaviour: the `ebirdhistorical` function only returns a list of the distinct taxa seen in the region on that date, together with details of the most recent record. So those other 19 species should all be returned, but listed against another observer.

As things stand, I don't think there is a way to get all the ob

[2022-10-19 19:31] abfleishman commented on #92
ah.  gotcha!  thanks for explaining.

So if I understand this correctly, if I were summarizing by date and region I would have the full list of taxa, but if I want to summarize by mean taxa per checklist or observer it wouldn't because the above.

Ok,I guess I will check out the bulk download option.  Thanks.

[2022-10-19 19:31] #92 closed